* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #5372f0;
}
.wrapper {
  width: 605px;
  background: #fff;
  border-radius: 15px;
  padding: 30px 30px 25px;
}
.wrapper header {
  font-size: 35px;
  text-align: center;
  padding-bottom: 35px;
}
.quote-area .quote {
  font-size: 22px;
  text-align: center;
}

.content .author {
  display: flex;
  font-size: 18px;
  margin-top: 20px;
  font-style: italic;
  justify-content: right;
}
.wrapper .buttons {
  border-top: 1px solid #ccc;
}
.buttons button {
  border: none;
  color: #fff;
  outline: none;
  font-size: 16px;
  padding: 13px 22px;
  border-radius: 30px;
  background: #5372f0;
}
